@model IEnumerable<DataAccessLayer.Entities.Testimonial>


<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Referanslar</h6>
            <h1 class="mb-5">Müşterilerimizin söylediği!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
              @foreach (var item in Model)
                {
                 
            <div class="testimonial-item text-center">
                 
              
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">@item.Decsription</p>
                </div>
                    <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="~/Img/@item.Image" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    @for (int i = 0; i < item.star; i++)
                        {  
                    <small class="fa fa-star text-secondary"></small>
                        }
                </div>
                <h5 class="mb-1">@item.FullNnme</h5>
                <p class="m-0">@item.Profession</p> 
               
            </div>
            }
        </div>
    </div>
</div>
