@model IEnumerable<DataAccessLayer.Entities.Dtos.NavbarListDto>


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
        <a href="" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
            <h1 class="text-primary m-0">Plumberz</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto">
                <a href="index.html" class="nav-item nav-link active">Anasayfa</a>
                <a href="/Home/About" class="nav-item nav-link">Hakkımızda</a>
                <a href="/Home/Service" class="nav-item nav-link">Hizmetler</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sayfalar</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/Home/Booking" class="dropdown-item">Rezervasyon</a>
                        <a href="/Home/Team" class="dropdown-item">Teknisyenler</a>
                        <a href="/Home/Testimonial" class="dropdown-item">Referanslar </a>
                        <a href="/Admin/About/Index" class="dropdown-item">Admin </a>
                        <a href="404.html" class="dropdown-item">Hata Sayfası</a>
                    </div>
                </div>
                <a href="/Home/Contact" class="nav-item nav-link">İletişim</a>
            </div>
            <div class="mt-4 mt-lg-0 me-lg-n4 py-3 px-4 bg-primary d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                    <i class="fa fa-phone-alt text-primary"></i>
                </div>
                @foreach (var item in Model)
                {


                    <div class="ms-3">
                        <p class="mb-1 text-white">@item.Urgent</p>
                        <h5 class="m-0 text-secondary">@item.Phone</h5>
                    </div>
                }
            </div>
        </div>
    </nav>
</div>
