@model DataAccessLayer.Entities.Carousel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h4>Slayder Eklme Paneli</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="@Model.CreatedBy" class="form-control" type="hidden" />
            <input asp-for="@Model.RowOrder" class="form-control" type="hidden" />
            <input asp-for="@Model.IsActive" class="form-control" type="hidden" />
       
            <div class="form-group">
                <label asp-for="CityBranch" class="control-label"></label>
                <input asp-for="CityBranch" class="form-control" />
                <span asp-validation-for="CityBranch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityDescription" class="control-label"></label>
                <input asp-for="CityDescription" class="form-control" />
                <span asp-validation-for="CityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
   <br />
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />
<div>
    <a class="btn btn-secondary" asp-action="Index">Listeye Geri Dön</a>
</div>

